<form action="/add" method="Post">
    <p>Nome:</p>
    <input type="text" name="nome">
    <p>Atividade:</p>
    <textarea name="atividade"></textarea>
    <p>Prazo de Entrega:</p>
    <input type="date" name="prazo">
    <button type="Enviar">Cadastre o Aluno</button>
</form>